.container {
    display: inline-flex;
    gap: 2em
}

.room {
    text-align: center;
    line-height: 25px;
}

.available {
    border: 2px solid black;

}

.unavailable {
    border: 2px solid black;
    color: white;
    background-color: rgb(234, 33, 33);
}

.reserved {
    border: 2px solid black;
    background-color: cadetblue;
}

.my-reservation {
    border: 2px solid black;
    background-color: chartreuse;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
}